[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djoser = "*"
python-decouple = "*"
drf-yasg = "*"
black = "*"
gunicorn = "*"
whitenoise = "*"
pillow = "*"
isort = "*"
django-anymail = "*"
django-cors-headers = "*"
psycopg2 = "*"
dj-database-url = "*"
model-bakery = "*"

[dev-packages]

[requires]
python_version = "3.9"
